@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* 62.5% let 1rem = 10px + calc with reduced screen width that return a fluid font-size(global spacing) for responsiveness */
	font-size: calc(62.5% + 1px + (100vw / 400));
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: slatescale;
	-webkit-text-size-adjust: 100%;
	height: -webkit-fill-available;
}
body {
	-webkit-tap-highlight-color: transparent;
	height: -webkit-fill-available;
}

@layer base {
	/* BASE */
	* {
		@apply m-0 p-0 box-border;
	}
	body {
		@apply antialiased min-h-screen transition duration-1000 font-normal 
		bg-slate-100 text-slate-800
		dark:bg-slate-800 dark:text-slate-100 
		selection:bg-primary-100 selection:text-slate-800
		dark:selection:bg-slate-700 dark:selection:text-primary-50;
	}
	a {
		@apply cursor-pointer;
	}
	*[data-nextjs-scroll-focus-boundary] {
		@apply h-full;
	}

	/* TYPOGRAPHY */
	h1 {
		@apply text-8xl;
	}
	h2 {
		@apply text-4xl;
	}
	h3 {
		@apply text-3xl;
	}
	h4 {
		@apply text-2xl;
	}
	h5 {
		@apply text-xl;
	}
	b,
	strong {
		@apply font-medium;
	}
}
