@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* BASE */
	.btn {
		@apply inline-flex
    shrink-0
    flex-nowrap
    font-normal
    whitespace-nowrap
    cursor-pointer
    select-none
    items-center
    justify-center
    gap-3
    text-center
    border
    rounded-md
    transition-all
    duration-300
    no-underline
    outline-none
		outline-offset-0
		border-transparent 
		text-white
		dark:text-slate-800
    active:transition-none;
	}
	/* COLORS */
	.btn-primary:not([disabled]) {
		@apply bg-primary-500 hover:bg-primary-600
		dark:bg-primary-400 dark:hover:bg-primary-500
		active:bg-primary-500 active:outline active:outline-primary-400/30
		dark:active:bg-primary-400;
	}
	.btn-secondary:not([disabled]) {
		@apply bg-secondary-500	hover:bg-secondary-600 
		dark:bg-secondary-400 dark:hover:bg-secondary-500
		active:bg-secondary-500 active:outline active:outline-secondary-400/30
		dark:active:bg-secondary-400;
	}
	.btn-success:not([disabled]) {
		@apply bg-green-500 hover:bg-green-600 
		dark:bg-green-400 dark:hover:bg-green-500
		active:bg-green-500 active:outline active:outline-green-400/30
		dark:active:bg-green-400;
	}
	.btn-dark:not([disabled]) {
		@apply bg-slate-900 hover:bg-black 
		dark:bg-black dark:hover:bg-slate-900 dark:text-slate-50
		active:bg-slate-900 active:outline active:outline-slate-800/30 
		dark:active:bg-black dark:active:outline-slate-600/30;
	}
	.btn-outline:not([disabled]) {
		@apply bg-transparent text-white border-white/50 
		hover:border-white hover:bg-white/5 
		active:outline active:outline-white/10;
	}
	.btn[disabled] {
		@apply cursor-default 
		bg-slate-300 text-slate-400 
		dark:bg-slate-700 dark:text-slate-500;
	}

	/* SIZES */
	.btn-sm {
		@apply h-8 px-4;
	}
	.btn-md {
		@apply h-12 px-6;
	}
	.btn-lg {
		@apply h-14 px-8;
	}
}
