@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* 62.5% let 1rem = 10px + calc with reduced screen width that return a fluid font-size(global spacing) for responsiveness */
	font-size: calc(62.5% + 4px + (100vw / 600));
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: slatescale;
	-webkit-text-size-adjust: 100%;
	height: -webkit-fill-available;
}
body {
	-webkit-tap-highlight-color: transparent;
	height: -webkit-fill-available;
}

@layer base {
	* {
		@apply m-0 p-0 box-border;
	}
	body {
		@apply antialiased min-h-screen transition font-normal 
		text-slate-800 bg-slate-50 
		dark:bg-slate-800 dark:text-slate-50 
		selection:bg-primary-100 selection:text-slate-800
		dark:selection:bg-slate-700 dark:selection:text-primary-50;
	}
	a {
		@apply cursor-pointer;
	}
	header,
	footer,
	main,
	section {
		@apply px-5 md:px-32 lg:px-48 2xl:px-72 transition;
	}
	main,
	section {
		@apply py-10;
	}
}
