@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.rich-text {
		@apply mx-auto 
		prose 
		prose-lg
		dark:prose-invert 
		
		prose-headings:text-center 
		prose-h3:text-4xl 
		prose-p:indent-8
		prose-ol:list-disc 

		prose-img:w-full 
		prose-img:select-none

		prose-a:font-semibold 
		prose-a:underline 
		prose-a:decoration-primary-500/40 
		prose-a:underline-offset-2 
		hover:prose-a:decoration-primary-500;
	}
	// pre {
	// 	@apply rounded-md py-2 px-5 bg-zinc-800 text-secondary-200;
	// }
	// blockquote {
	// 	@apply border-l-4 border-secondary-500 p-4 bg-zinc-100 dark:bg-zinc-800 lg:w-5/6;
	// }
}
